@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewResultDemo</title>
    <script src="/C02ActionResultSubClass/JavaScriptResultDemo"></script>
</head>
<body>
    <div>
        我是调用JavaScriptResultDemo的视图
    </div>
</body>
</html>