@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
子页面中输出的内容
@section scripts111{
    <script>
        alert("ok");
    </script>
}

@section css{
    <style type="text/css">
        .right {
            border: 4px solid yellow;
        }
    </style>
}